<!DOCTYPE html>
<html>

<head>
    <!-- favicon -->
    <link rel="shortcut icon" href="Images/favicon.webp" type="image/x-icon">
    <!-- css attached -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/max-media.css">
    <link rel="stylesheet" href="css/all.min.css">
    <!-- title -->
    <title>Movies 4U</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row items-center">
                <div class="col-2">
                    <div class="logo">
                        <a href="index.html">Movie Chill</a>
                    </div>
                </div>
                <div class="col-8">
                    <nav>
                        <ul class="justify-center">
                            <li>
                                <a href="#">Welcome</a>
                            </li>
                            <li>
                                <a href="#">Movies</a>
                            </li>
                            <li>
                                <a href="#">Live Tv</a>
                            </li>
                            <li>
                                <a href="#">My Favorite</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-2 profile ">
                    <a href="#"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
                    <div class="profile-img">
                        <a href="#">
                            <img src="Images/header/Ellipse 1.png" alt="profile">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="banner">
            <div class="container">
                <div class="content">
                    <h2>MADAM WEB</h2>
                    <h4>2024 | LANGUE : English</h4>
                    <p>Meanwhile, in another universe... In a variation of the classic genre, <br>Madame Web tells the
                        origins of one of the most enigmatic heroines in Marvel comics. <br>The thriller stars Dakota
                        Johnson as Cassandra Webb, a Manhattan paramedic with clairvoyant gifts. <br>Forced to face
                        revelations about her past, she</p>
                    <div class="btn">
                        <a href="/view">GET STRATED
                            <i class="fa-solid fa-play fa-xl"></i>
                        </a>
                    </div>
                </div>
                <div class="similar">
                    <h2>SIMILAR</h2>
                </div>
                <div class="sim-img">
                    <a href="#">
                        <img src="Images/section-1/bat-man.png" alt="bat-man">
                        <h4 class="sim-watch">WATCH</h4>
                    </a>
                    <a href="#">
                        <img src="Images/section-1/mona-lisa.png" alt="mona-lisa">
                        <h4 class="sim-watch">WATCH</h4>
                    </a>
                    <a href="#">
                        <img src="Images/section-1/god-zilla.png" alt="god-zilla">
                        <h4 class="sim-watch">WATCH</h4>
                    </a>
                    <a href="#">
                        <img src="Images/section-1/grimlins.png" alt="grimlins">
                        <h4 class="sim-watch">WATCH</h4>
                    </a>
                    <a href="#">
                        <img src="Images/section-1/amazing-screw.png" alt="amazing-screw">
                        <h4 class="sim-watch">WATCH</h4>
                    </a>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="pop-film">
                    <h2>POPULAR FILMS</h2>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="sec-2-img">
                    <a href="#" class="pos-rel">
                        <img src="Images/section-2/bat-man.png" alt="bat-man">
                        <h4 class="watch-now pos-abs">WATCH NOW</h4>
                    </a>
                    <a href="#" class="pos-rel">
                        <img src="Images/section-2/mona-lisa.png" alt="mona-lisa">
                        <h4 class="watch-now pos-abs">WATCH NOW</h4>
                    </a>
                    <a href="#" class="pos-rel">
                        <img src="Images/section-2/grimlins.png" alt="grimlins">
                        <h4 class="watch-now pos-abs">WATCH NOW</h4>
                    </a>
                </div>
            </div>
        </section>
        <section class="sec-3-bg">
            <div class="container">
                <div class="content-3">
                    <h2>BATMAN</h2>
                    <div class="feedback">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>5.9</span>
                        <h3>2024</h3>
                    </div>
                    <p>Meanwhile, in another universe... In a variation of the classic genre, <br> Madame Web tells the
                        origins of one of the most enigmatic heroines in Marvel comics. <br> The thriller stars Dakota
                        Johnson as Cassandra Webb, a Manhattan paramedic with clairvoyant gifts. <br> Forced to face
                        revelations about her past.</p>
                    <div class="buttons">
                        <div class="btn">
                            <p>PLAY TRAILER</p>
                            <i class="fa-solid fa-play fa-xl"></i>
                        </div>
                        <div class="btn-2">
                            <p>PLAY NOW</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="pop-film">
                    <h2>RECENT MOVIES</h2>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="sim-img sec-4-img">
                    <a href="#">
                        <img src="Images/section-1/bat-man.png" alt="bat-man">
                        <h4 class="watch">WATCH</h4>
                    </a>
                    <a href="#">
                        <img src="Images/section-1/mona-lisa.png" alt="mona-lisa">
                        <h4 class="watch">WATCH</h4>
                    </a>
                    <a href="#">
                        <img src="Images/section-1/god-zilla.png" alt="god-zilla">
                        <h4 class="watch">WATCH</h4>
                    </a>
                    <a href="#">
                        <img src="Images/section-1/grimlins.png" alt="grimlins">
                        <h4 class="watch">WATCH</h4>
                    </a>
                    <a href="#">
                        <img src="Images/section-1/amazing-screw.png" alt="amazing-screw">
                        <h4 class="watch">WATCH</h4>
                    </a>
                </div>
        </section>
        <section>
            <div class="container">
                <div class="categories">
                    <h2>CATEGORIES</h2>
                    <ul>
                        <a href="#">
                            <li>Action</li>
                        </a>
                        <a href="#">
                            <li>Adventure</li>
                        </a>
                        <a href="#">
                            <li>Animation</li>
                        </a>
                        <a href="#">
                            <li>Comedy</li>
                        </a>
                        <a href="#">
                            <li>Crime</li>
                        </a>
                        <a href="#">
                            <li>Documentory</li>
                        </a>
                        <a href="#">
                            <li>Drama</li>
                        </a>
                        <a href="#">
                            <li>Family</li>
                        </a>
                        <a href="#">
                            <li>Fantastic</li>
                        </a>
                        <a href="#">
                            <li>History</li>
                        </a>
                        <a href="#">
                            <li>Horror</li>
                        </a>
                        <a href="#">
                            <li>Sci-fi</li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="trending">
                    <h2>TRENDING</h2>
                    <div class="trending-bg">
                        <div class="content-6">
                            <h2>Mona Lisa and the Blood Moon</h2>
                            <div class="feedback">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>5.9</span>
                                <h3>2024</h3>
                            </div>
                            <p>Meanwhile, in another universe... In a variation of the classic genre, <br> Madame Web
                                tells the origins of one of the most enigmatic heroines in Marvel comics. <br> The
                                thriller stars Dakota Johnson as Cassandra Webb, a Manhattan paramedic with clairvoyant
                                gifts. <br> Forced to face revelations about her past.</p>
                            <div class="buttons">
                                <div class="btn">
                                    <p>PLAY TRAILER</p>
                                    <i class="fa-solid fa-play fa-xl"></i>
                                </div>
                                <div class="btn-2">
                                    <p>PLAY NOW</p>
                                </div>
                            </div>
                            <div class="sim-img sec-4-img">
                                <a href="#">
                                    <img src="Images/section-1/bat-man.png" alt="bat-man">
                                    <h4 class="watch">WATCH</h4>
                                </a>
                                <a href="#">
                                    <img src="Images/section-1/mona-lisa.png" alt="mona-lisa">
                                    <h4 class="watch">WATCH</h4>
                                </a>
                                <a href="#">
                                    <img src="Images/section-1/god-zilla.png" alt="god-zilla">
                                    <h4 class="watch">WATCH</h4>
                                </a>
                                <a href="#">
                                    <img src="Images/section-1/grimlins.png" alt="grimlins">
                                    <h4 class="watch">WATCH</h4>
                                </a>
                                <a href="#">
                                    <img src="Images/section-1/amazing-screw.png" alt="amazing-screw">
                                    <h4 class="watch">WATCH</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="drama">
                    <h2>DRAMA</h2>
                    <div class="sim-img sec-4-img">
                        <a href="#">
                            <img src="Images/section-1/bat-man.png" alt="bat-man">
                            <h4 class="watch">WATCH</h4>
                        </a>
                        <a href="#">
                            <img src="Images/section-1/mona-lisa.png" alt="mona-lisa">
                            <h4 class="watch">WATCH</h4>
                        </a>
                        <a href="#">
                            <img src="Images/section-1/god-zilla.png" alt="god-zilla">
                            <h4 class="watch">WATCH</h4>
                        </a>
                        <a href="#">
                            <img src="Images/section-1/grimlins.png" alt="grimlins">
                            <h4 class="watch">WATCH</h4>
                        </a>
                        <a href="#">
                            <img src="Images/section-1/amazing-screw.png" alt="amazing-screw">
                            <h4 class="watch">WATCH</h4>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="drama">
                    <h2>LIVE TV</h2>
                    <div class="sim-img sec-4-img">
                        <a href="#">
                            <img src="Images/section-1/bat-man.png" alt="bat-man">
                            <h4 class="watch">WATCH</h4>
                        </a>
                        <a href="#">
                            <img src="Images/section-1/mona-lisa.png" alt="mona-lisa">
                            <h4 class="watch">WATCH</h4>
                        </a>
                        <a href="#">
                            <img src="Images/section-1/god-zilla.png" alt="god-zilla">
                            <h4 class="watch">WATCH</h4>
                        </a>
                        <a href="#">
                            <img src="Images/section-1/grimlins.png" alt="grimlins">
                            <h4 class="watch">WATCH</h4>
                        </a>
                        <a href="#">
                            <img src="Images/section-1/amazing-screw.png" alt="amazing-screw">
                            <h4 class="watch">WATCH</h4>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="trending">
                    <h2>UPCOMING MOVIE</h2>
                    <div class="trending-bg">
                        <div class="content-6">
                            <h2>THE GAURDIANS OF THE GALAXY</h2>
                            <div class="feedback">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>5.9</span>
                                <h3>2024</h3>
                            </div>
                            <p>Meanwhile, in another universe... In a variation of the classic genre, <br> Madame Web
                                tells the origins of one of the most enigmatic heroines in Marvel comics. <br> The
                                thriller stars Dakota Johnson as Cassandra Webb, a Manhattan paramedic with clairvoyant
                                gifts. <br> Forced to face revelations about her past.</p>
                            <div class="buttons">
                                <div class="btn">
                                    <p>PLAY TRAILER</p>
                                    <i class="fa-solid fa-play fa-xl"></i>
                                </div>
                                <div class="btn-2">
                                    <p>PLAY NOW</p>
                                </div>
                            </div>
                            <div class="sim-img sec-4-img">
                                <a href="#">
                                    <img src="Images/section-1/bat-man.png" alt="bat-man">
                                    <h4 class="watch">WATCH</h4>
                                </a>
                                <a href="#">
                                    <img src="Images/section-1/mona-lisa.png" alt="mona-lisa">
                                    <h4 class="watch">WATCH</h4>
                                </a>
                                <a href="#">
                                    <img src="Images/section-1/god-zilla.png" alt="god-zilla">
                                    <h4 class="watch">WATCH</h4>
                                </a>
                                <a href="#">
                                    <img src="Images/section-1/grimlins.png" alt="grimlins">
                                    <h4 class="watch">WATCH</h4>
                                </a>
                                <a href="#">
                                    <img src="Images/section-1/amazing-screw.png" alt="amazing-screw">
                                    <h4 class="watch">WATCH</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <div class="creator">
                        <p>© 2024
                            <span>Movie</span>
                            <span>Chill</span>.
                            Designed with ❤️ for you by
                            <span>Arpit Radadiya</span>
                        </p>
                    </div>
                </div>
                <div class="col-5">
                    <div class="icon">
                        <a href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-lg"></i></a>
                        <a href="#"><i class="fa-brands fa-square-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa-brands fa-github fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>